  <div class="card-wrapper">
    <div class="col-md-4" ng-repeat="card in $ctrl.cards track by card.id" ng-class="{opacity: card.$allComplete}">
      <card card="card" remove-card="$ctrl.removeCard(card.id)"></card>
    </div>
  </div>
  <button class="fa fa-plus btn-add_new_todo_item" ng-click="$ctrl.addCard()" ng-show="$ctrl.addCardBtnIsShow"> </button>