.completed {
  text-decoration: line-through;
}

.opacity {
  opacity: .5;
}

.btn_transparent {
  border: none;
  background: transparent; 
  font-size: 17px;
}

.btn-add_new_todo_item {
  font-size: 40px;
  background: transparent;
  border: none;
}

.add_todo-wrapper {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: white;
  input, button {
   height: 30px;
  }
  input {
    border: 1px solid grey;
    border-radius: 4px;
    color: black;
  }
}

.card-wrapper {
  padding-top: 50px;
}