  <div class="panel">
    <div class="panel-heading" ng-style="{background: $ctrl.card.color}">
      <div>
        <button class="fa fa-times-circle-o pull-right btn_transparent" ng-click="$ctrl.removeCard()"></button>
        <h3 class="panel-title" ng-bind="$ctrl.card.title"></h3>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <todo ng-repeat="todo in $ctrl.card.todos track by $index" 
              todo="todo"
              remove-todo="$ctrl.removeTodo($index)" 
              edit-todo="$ctrl.editTodo($index)" 
              is-complete="$ctrl.isComplete($index)"></todo>
      </ul>
    </div>
    <div class="panel-footer">
      <div class="add_todo-wrapper">
        <input type="text" class="col-xs-8" ng-model="$ctrl.todoTitle" placeholder="Add todo">
        <button class="col-xs-3 col-xs-offset-1 btn btn-add_todo" ng-style="{background: $ctrl.card.color}" ng-click="$ctrl.addTodo()">Add</button>
      </div>
    </div>
  </div>