<li class="list-group-item">
  <label ng-hide="$ctrl.todo.$edit">
    <input type="checkbox" ng-click="$ctrl.isComplete()" ng-checked="$ctrl.todo.isComplete"> 
    <span ng-bind="$ctrl.todo.title" ng-class="{completed: $ctrl.todo.isComplete}"></span>
  </label>
  <input  type="text" 
          class="form-control" 
          ng-model="$ctrl.todo.title" 
          ng-show="$ctrl.todo.$edit" 
          ng-blur="$ctrl.editTodo()"
          autofocus>
  <button class="fa fa-times pull-right btn_transparent" ng-click="$ctrl.removeTodo()" ng-hide="$ctrl.todo.$edit"></button>
  <button class="fa fa-pencil pull-right btn_transparent" ng-click="$ctrl.todo.$edit = true" ng-hide="$ctrl.todo.$edit"></button>
</li>